.neen2 {
	background: white;
	width: 99%;
	margin: 0px;
	padding: 0px;
}
h2 {
	margin: 0px;
	padding: 0px;
}
h2 {
	display: flex;
	justify-content: flex-start;
}
body {
	font-family: 'Quicksand-Regular';
	font-size: 1rem;
	color: black;
	
}