a {
	list-style: none;
	text-decoration: none;
	color: rgba(0, 0, 0, 1.0);
	font-family: 'Oswald-Light';
	font-size: 1.5rem;
}

li {
	list-style: none;
	padding: 5px;
	padding-top: 5px;
	margin: 3px;
}

.theList {
	display: flex;
	justify-content: flex-start;
	padding: 0px;
	background: rgb(42, 198, 198);
	margin: 0px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 5px;
}

.logoStyle {
	max-width: 3rem;
}

.pushRight {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	background-color: rgb(235, 0, 0);
}

nav {
	position: fixed;
	top: 0px;
	width: 100%;
}
.searchStyle {
	border: none;
	border-radius: 20px;
	height: 30px;
	outline: none;
}
