@font-face {
  font-family: 'Quicksand-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Quicksand-Regular'), url('Quicksand-Regular.ttf') format('TrueType');
}
@font-face {
  font-family: 'Oswald-Light';
  font-style: normal;
  font-weight: normal;
  src: local('Oswald-Light'), url('Oswald-Light.ttf') format('TrueType');
}
@font-face {
  font-family: 'PlayfairDisplay-VariableFont_wght';
  font-style: normal;
  font-weight: normal;
  src: local('PlayfairDisplay-VariableFont_wght'), url('PlayfairDisplay-VariableFont_wght.ttf') format('TrueType');
}


